body{
    background-image: url("dj\ ismart.gif");
    background-size: cover;
    background-repeat: no-repeat;
    user-select: none;
}

.heading{
    font-size: 18px;
    width: 100%;
    margin: 0%;
    height: 55px;
}

.note{
    font-size: 15px;
    color: black;
}

.speed{
    float: left;
    user-select: none;
}

.speed_img{
    width: 200px;
    border-radius: 100px;
    margin-top: -25px;
    user-select: none;
}

#speed{
    font-size: 23px;
    margin: 15px;
}

.volume{
    float:right;
}

#volume{
    font-size: 23px;
}

#play{
    color: white;
    font-size: 50px;
    text-align: center;
    padding-top: 100px;
    height: 300px;
    width: 400px;
    background-color: black;
    border-color: transparent;
    margin-top: 200px;
    margin-left: -18px;
}